openapi: 3.0.0
info:
  version: 1.0.0
  title: URL Shortener API
  description: Documentation for the URL shortener API

servers:
  - url: https://api.jml.lat

paths:
  /url:
    get:
      summary: Get all shortened URLs
      description: Retrieves a list of all registered shortened URLs.
      parameters:
        - name: target_url
          in: query
          description: Filter shortened URLs by target_url.
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: List of shortened URLs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShortenedURL'

    post:
      summary: Create a new shortened URL
      description: Creates a new shortened URL from the provided long URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_url:
                  type: string
                  format: uri
                  description: The original long URL that will be shortened.
              required:
                - target_url
      responses:
        '201':
          description: Shortened URL successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  target_url:
                    type: string
                    format: uri
                    description: The original long URL that was shortened.
                  url_key:
                    type: string
                    description: The unique key associated with the shortened URL.

  /url/{url_key}:
    get:
      summary: Get information about a shortened URL
      description: Retrieves information about the shortened URL corresponding to the provided url_key.
      parameters:
        - name: url_key
          in: path
          description: Previously generated short URL.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Information about the shortened URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortenedURL'

    delete:
      summary: Delete a shortened URL
      description: Deletes the shortened URL corresponding to the provided url_key.
      parameters:
        - name: url_key
          in: path
          description: Previously generated short URL.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Shortened URL successfully deleted.
          # content:
          #   application/json:
          #     schema:
          #       type: object
          #       properties:
          #         url_key:
          #           type: string

components:
  schemas:
    ShortenedURL:
      type: object
      properties:
        target_url:
          type: string
          format: uri
          description: The original long URL that was shortened.
        is_active:
          type: boolean
          description: Indicates if the shortened URL is currently active.
        clicks:
          type: integer
          description: The number of times the shortened URL has been clicked.
        url_key:
          type: string
          description: The unique key associated with the shortened URL.
